.bar {

  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;


  min-height: 14rem;
  width: 82%;
  background-image: url('/bg-pattern-intro-right-desktop.svg');
  background-repeat: no-repeat;
  background-position: 105.50% -140px;
  background-color: hsl(256, 26%, 20%);
  display: flex;
  justify-content: space-between;
  line-height: 4rem;
  align-items: center;
  font-size: 3.5rem;
  word-spacing: 1px;
  margin: 0 auto;
  margin-top: 10rem;


}


.bar h3 {
  
  margin-left: 5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

.bar button {

  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  margin-right: 5rem;
  border: 1.8px solid rgb(255, 255, 255);
  padding: 10px 25px;
  background-color: transparent;
  color: white;

  letter-spacing: 1px;


}

@media(max-width:1180px) {
  .bar {
    margin-top: 8rem;
  }
}

@media(max-width:1100px) {
  .bar h3 {
    font-size: 3.5rem;
    line-height: 3.4rem;
  }
}

@media(max-width:1000px) {

  .bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    min-height: 17rem;
    background-position: 150% -140px;
  }

  .bar h3 {

    margin: 0;
    text-align: center;
    line-height: 2.8rem;
  }

  .bar button {
    margin: 0;
    margin-top: 2.5rem;
  }

}

@media(max-width:800px) {


  .bar {

    background-image: url('/bg-pattern-how-we-work-mobile.svg');
    background-position: 100% 1px;

  }
}

@media(max-width:640px) {

  .bar h3 {

    font-size: 3rem;
  }

}

@media(max-width:530px) {


  .bar {
    height: 22rem;
    width: 90%;
  }

  .bar h3 {

    font-size: 3rem;
  }

}

@media(max-width:465px) {
  .bar h3 {
    font-size: 2.6rem;
  }
}