.box{


    margin-top: 9rem;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
 

    height: 25rem ;
    background-image: url("./bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 98%);
    
}

.headbox{
     display: flex;
    justify-content: space-between

}


#footerlogo{

height: 1.3rem;
margin-left: 10rem;
margin-top: 4rem;

}


.social-icons{
    margin-right: 10rem;
    margin-top: 4rem;
}

.img{
    margin-left: 1rem;
}


#hrFooter{
    margin-top: 1.8rem;
    width: 79%;
   justify-self: center;
   border-top: 2px solid hsla(0, 0%, 85%, 0.4); 
}


.footerservice{
    display: grid;
    margin-top: 2.8rem;
    width: 79%;
    grid-template-columns: repeat(4,1fr);
    text-align: start;
     text-transform: uppercase;
     justify-self: center;
}

.services{
    display: flex;
    margin-top: 2.8rem;
   
}

.heading{
    font-size: 13px;
    color:hsl(273, 4%, 51%) ;
    margin-bottom: 2.2rem;
    font-weight: 600;
}


.service , .serviceFirst{
    display: flex;
    flex-direction: column;
     letter-spacing: 0.9px ;
}





.option{
    font-size: 0.89rem;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: hsl(256, 26%, 20%);
    
}

.option span{
    margin-bottom: 0.96rem;
}


.option span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.social-icons img:hover{
    cursor: pointer;
     filter: contrast(200%) brightness(0%);
}


@media(max-width:830px){
    .footerservice{
        margin-top: 2rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 1fr);
        text-align: center;
    }

    .box{
        height: 36rem;
    }

    .contact,.others{
        margin-top: 2rem;
    }


#footerlogo {
    margin-left: unset;
    
}

.headbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icons{
    margin: 0;
    margin-top: 1.7rem;
}


.img{
    margin-left: 1rem;
}
}


@media(max-width:400px){

    .box{
         background-image: url("./bg-pattern-footer-mobile.svg");

        height: auto;
    }
    .footerservice{
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: auto;
       
    }

    .service{
        margin-top: 0;
    }

    .contact{
        margin-top: 1.5rem;
    }

    .helpme{
        margin-top: 1rem;
    }

    #footerlogo{
        margin-top: 5.2rem;
    }
}

